skin-list-item {

  .selectItemButton {
    padding: 0;
  }

  .item-inner {
    padding: 0 !important;
    border: 0 !important;
    .label {
      margin: 0;
    }
  }

  .itemIcon {
    padding: 2px;
  }
  .itemDescription {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 0.6em;
    padding-left: 5px;
    padding-bottom: 2px;
    span {
      float: right;
      padding-right: 5px;
      color: orangered;
    }
  }

  .itemType{
    text-align: center;
    font-size: 0.6em;
    padding-bottom: 2px;
  }

}
