page-trade-review {
  ion-header {
    box-shadow: 0 1px 5px #999;
  }

  .tradeSummary {
    .item-inner {
      border-bottom: 0 !important;
    }
    p {
      text-align: center !important;
      white-space: normal !important;
    }
  }

  .tradeWarning {
    color: #FF7200;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
  }
}
