<ion-header>
  <ion-navbar>
    <ion-title>Trade with {{redditPost.author}} - Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="tradeSummary">
    <p>Wants <b>{{redditPost.wants}}</b> for their <b>{{redditPost.has}}</b>
    <p>
  </ion-item>
  <h2>My Items</h2>
  <div class="container">
    <div class="csgoItem" *ngFor="let keys of myKeys">
      <key-list-item [csgoKeys]="keys" (selected)="addItemToTrade($event)"></key-list-item>
    </div>
    <div class="csgoItem" *ngFor="let item of myItemsToTrade" [ngStyle]="setBorderColorIfNotNormalCategory(item)">
      <skin-list-item [csgoItem]="item"></skin-list-item>
    </div>
  </div>
  <h2>Their Items</h2>
  <div class="container">
    <div class="csgoItem" *ngFor="let keys of theirKeys">
      <key-list-item [csgoKeys]="keys" (selected)="addItemToTrade($event)"></key-list-item>
    </div>
    <div class="csgoItem" *ngFor="let item of theirItemsToTrade" [ngStyle]="setBorderColorIfNotNormalCategory(item)">
      <skin-list-item [csgoItem]="item"></skin-list-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="continueButton" ion-button full (click)="sendTradeOffer()">Send Trade Offer</button>
  </ion-toolbar>
</ion-footer>
