page-trade-review {

  ion-header {
    ion-navbar {
      padding-bottom: 0 !important;
    }
    ion-title {
      padding: 0 !important;
      .toolbar-title {
        font-size: 1.2em;
        white-space: normal;
        overflow: visible;
      }
    }
  }

  .tradeSummary {
    .item-inner {
      border-bottom: 0 !important;
    }
    p {
      text-align: center !important;
      white-space: normal !important;
    }
  }

  .tradeWarning {
    color: #FF7200;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
  }
}
