<ion-content padding>
  <div class="itemText">
    <p id="fullName">{{csgoItem.fullName}}</p>
  </div>
  <div class="pictureContainer">
    <div class="skinIcon">
      <img id="fullIcon" src="http://cdn.steamcommunity.com/economy/image/{{csgoItem.iconUrl}}">
    </div>
    <div class="sticker">
      <div class="stickerContainer">
        <div class="stickerIcon" *ngFor="let sticker of csgoItem.stickerUrl">
          <img id="sticker" src="{{sticker}}">
        </div>
      </div>
    </div>
  </div>
  <div class="additionalInfoContainer">
    <div class="itemInfo">
      <p id="exterior">{{csgoItem.longExterior}}</p>
      <p *ngIf="csgoItem.nameTag" id="nameTag">Name Tag: &quot;{{csgoItem.nameTag}}&quot;</p>
      <p *ngIf="csgoItem.statTrakCount" id="stKills">StatTrak&trade; Kills: {{csgoItem.statTrakCount}}</p>
      <p id="collection">{{csgoItem.collection}}</p>
    </div>
    <div class="metjmButton" *ngIf="metjmIsPossible()">
      <button ion-button (click)="showMetjm()">
        <ion-icon name="camera-outline"></ion-icon>
        <p>Metjm</p></button>
    </div>
  </div>
  <div class="collection">
  </div>
</ion-content>
<ion-footer *ngIf="!currentPage">
  <button ion-button full (click)="addItem()">Add to Trade</button>
</ion-footer>
