page-item-modal {
  .container {
    display: flex;
    flex-wrap: wrap;

    .infoItem {
      margin: 2%;
      flex-basis: 46%;
      flex-grow: 0;
      background-color: white;
    }
  }

  .infoItemIcon{
    text-align: center;
    background-color: gray;
    border-bottom: 0.5px solid black;
    img{
      width: 50%;
      heihg: 50%;
    };
  }

  .infoItemDescription{


  }
  .title{
    padding: 0;
  }
  .button {
    margin: 0;
    background-color: #FF7200;
  }
}
