page-item-modal {

  #fullName{
    margin: 0;
    padding: 5px 0 2px 7px;
    font-size: 1.3em;
    color: orangered;
  }

  #exterior{
    margin: 0;
    padding: 0 0 0 7px;
    font-size: 1.1em;
    color: dimgray;
  }

  #nameTag{
    margin: 0;
    padding: 0 0 0 7px;
    font-size: 1.1em;
    color: darkred;
  }
  #stKills{
    margin: 0;
    padding: 0 0 0 7px;
    font-size: 1.1em;
    color: orangered;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    .infoItem {
      margin: 2%;
      flex-basis: 46%;
      flex-grow: 0;
    }
  }

  .infoItemIcon{
    text-align: center;
    background-color: gray;
    border-bottom: 0.5px solid black;
    img{
      width: 50%;
      heihg: 50%;
    };
  }

  .infoItemDescription{


  }
  .title{
    padding: 0;
  }
  .button {
    margin: 0;
    background-color: #FF7200;
  }
}
