<ion-list class="commentList">
  <div *ngFor="let comment of redditComments" class="comment">
    <div class="commentTitle">
      <p [ngStyle]="getAuthorStyling(comment)">
        {{comment.author}}
        <span id="commentScore">&nbsp;&nbsp;
          <ion-icon name="ios-arrow-round-up-outline"></ion-icon>
          &nbsp;{{comment.score}}
        </span>
      </p>
    </div>
    <div class="commentBody">
      <post-content [postContent]="comment.body"></post-content>
    </div>
    <div *ngIf="commentLevel > 1 && !moreCommentsEnabled && comment.replies.length" class="moreCommentsButton">
      <button ion-button full (click)="enableMoreComments()">
        Load more comments.
      </button>
    </div>
    <div *ngIf="(moreCommentsEnabled || commentLevel < 2) && comment.replies.length" class="moreCommentsButton">
      <comment-tree-view [author]="author" [redditComments]="comment.replies" [commentLevel]="commentLevel + 1"></comment-tree-view>
    </div>
  </div>
</ion-list>
