comment-tree-view {
  .commentList {
    margin-bottom: 0;
    margin-left: -1px;
    .comment {
      padding-left: 15px;
      border-top: 0.5px solid gray;
      border-left: 0.5px dotted gray;
      .commentTitle {
        padding-top: 7px;
        font-size: 0.8em;
        ion-icon {
          font-weight: lighter;
          font-size: 1em;
        }
        p {
          margin: 0;
          color: rgba(0, 0, 0, 0.8);
          font-weight: bold;
        }
        #commentScore {
          font-weight: normal;
          color: gray;
        }
      }
    }

    .commentBody {
      padding-bottom: 7px;
      padding-top: 5px;
      post-content {
        font-size: 0.9em !important;
        p {
          margin: 0;
        }
      }
    }

    .moreCommentsButton {
        button {
          background-color: transparent;
          box-shadow: none;
          margin: 2px 2px 5px 2px;
          width: 95%;
          border: 0.5px solid #FF7200;
          height: 1.5em;
          span {
            text-transform: none;
            font-size: 0.8em !important;
            color: #FF7200;
          }
        }
    }
  }
}
