page-post-view {
  ion-content {

    #nothingHere {
      margin-top: 30px;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
    }
    .card {
      margin: 0 !important;
      width: 100%;
      box-shadow: none;
    }
    .scroll-content {
      background-color: white;
    }
    .postContent {
      padding-bottom: 0;
    }
    .additionalInfo {
      border-bottom: 1px solid black !important;

      .tradeMetaInfo{
        .author, .timeSinceCreation, .numberOfComments, .score, .likedIt {
          margin-left: 3px;
          display: inline-block;
        }
        .author{
          p{
            color: #1E3847;
          }
        }
        p {
          font-size: 0.7em;
        }
        ion-icon {
          font-size: 1.1em;
          margin: 1px;
        }
      }

      p {
        white-space: normal;
      }
      ion-label {
        margin: 0;
      }
    }
    .postHeader {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      white-space: normal;
    }
  }

  ion-footer {
    ion-toolbar {
      padding: 0 !important;
    }
    button {
      margin: 0 !important;
    }
    .sendTradeOffer {
      box-shadow: none !important;
      background-color: #FF7200 !important;
    }
  }
}
