page-post-view {
  ion-content {

    .card {
      margin: 0 !important;
      width: 100%;
      box-shadow: none;
    }
    .scroll-content {
      background-color: white;
    }
    .postContent {
    }
    .additionalInfo {
      border-top: 1px solid black !important;
      p {
        white-space: normal;
      }
      ion-label {
        margin: 0;
      }
    }
    .postHeader {
      white-space: normal;
    }
  }
}
