page-steam-login {
  ion-header {
    box-shadow: 0 3px 3px #999;

    ion-icon {
      color: white;
    }

    ion-title {
      padding: 0 !important;
    }
  }

  .loginField{
    ion-item{
      .item-inner{
        border: 0 !important;
      }
    }
  }
}
