<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Send Tradeoffer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="steamLinkInput1">
    <ion-input placeholder="Enter their Steamprofile" [(ngModel)]="steamProfileURL"></ion-input>
  </ion-item>
  <ion-item class="steamLinkInput2">
    <ion-input placeholder="Enter their Tradelink" [(ngModel)]="steamTradelink"></ion-input>
  </ion-item>
  <ion-item *ngIf="recentTrades.length" class="recentTrades">
    <ion-label>Recent Trades</ion-label>
    <ion-select [(ngModel)]="recentTrade" interface="action-sheet" (ionChange)="selectRecentTrade()">
      <ion-option *ngFor="let trade of recentTrades" value="{{trade}}">{{trade.author}}</ion-option>
    </ion-select>
  </ion-item>
  <div class="description">
    <p>
      Enter your Tradepartners Steamprofile and Tradelink to send a Tradeoffer directly.
    </p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="sendTradeOfferButton" ion-button full (click)="sendTradeOffer()" [disabled]="tradeOfferIsDisabled()">
      Send a Tradeoffer
    </button>
  </ion-toolbar>
</ion-footer>
