<ion-item-sliding [ngClass]="styleByPostType()">
  <ion-item>
    <button ion-item class="openPageButton" (click)="openPost()" detail-none>
    </button>
    <p class="titleContent">
      {{tradePost.title}}
    </p>
    <div>
      <div class="timeSinceCreation">
        <p>{{tradePost.timeSinceCreation}} ago</p>
      </div>
      <div class="numberOfComments">
        <p>
          <ion-icon outline name="text-outline"></ion-icon>
          {{tradePost.numberOfComments}}
        </p>
      </div>
    </div>
  </ion-item>
</ion-item-sliding>

