post-list-item {


  ion-item-sliding {
    box-shadow: 0 2px 3px #999;
  }

  ion-item .item-inner {
    border-bottom: 0 !important;
    position: relative;

    .openPageButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
    }

    .timeSinceCreation {
      position: absolute;
      right: 5px;
      bottom: 5px;
      p {
        font-size: 0.6em;
      }
    }
    .numberOfComments {
      position: absolute;
      right: 5px;
      bottom: 15px;
      p {
        font-size: 0.6em;
      }
      ion-icon{
        font-size: 1.3em;
        margin: 3px;
      }
    }
  }

  ion-label {
    margin: 0 0 0 10px !important;
    padding: 5px 0 5px 0;
    white-space: normal;
    max-width: 80%;

    .titleContent {
      font-size: 1em;
      color: #1E3847 !important;
    }
  }
}
