post-list-item {

  ion-item .item-inner {
    border-bottom: 0 !important;

    .openPageButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }

  ion-label {
    margin: 0 0 0 10px !important;
    padding: 6px 0 6px 0;
    white-space: normal;
    max-width: 100%;
  }
}
