page-home {
  ion-header {
    box-shadow: 0 3px 3px #999;
    margin-bottom: 20px !important;

    .toolbar-background {
      background-image: url(../../assets/imgs/banner.png);
      background-size: cover;
    }

    .filter {
      width: 100%;
      z-index: 2;

      .filtercontent {

        ion-item {
          background-color: transparent;
          color: white;
          height: auto;
          width: auto;
          float: right;
          min-height: auto;

          .select {
            padding: 0 5px 0 0;
            .select-placeholder {
              min-width: auto;
            }
            .select-text {
              min-width: auto;
            }
            .select-icon-inner {
              color: white;
            }
            .item-inner, .button-inner, .input-wrapper, button {
              height: auto;
            }
          }
          ion-label {
            margin: 5px !important;
          }
        }
      }
    }
  }

  .postList {
  }

  .title {
    padding: 0;
  }

  .content {
    background-color: transparent;
  }

  .items {
    border: 0.5px solid gray;
  }

  .item-inner {
    border: 0 !important;
    .select-text {
      width: 0;
      visibility: hidden;
    }
  }

  ion-refresher-content {
    background-color: transparent;
  }

  ion-item {
    padding: 0 !important;
  }

}
