<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="../../assets/imgs/banner.png">
    </ion-title>
    <div class="filter">
      <div class="filtercontent">
        <ion-item>
          <ion-label>Filter</ion-label>
          <ion-select [(ngModel)]="toppings" multiple="true">
            <ion-option>Bacon</ion-option>
            <ion-option>Black Olives</ion-option>
            <ion-option>Extra Cheese</ion-option>
            <ion-option>Mushrooms</ion-option>
            <ion-option>Pepperoni</ion-option>
            <ion-option>Sausage</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let post of tradePosts" class="items">
      <post-list-item *ngIf="!isTrade(post.type)" [tradePost]="post"></post-list-item>
      <trade-list-item *ngIf="isTrade(post.type)" [tradePost]="post"></trade-list-item>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadAdditionalThreads($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
