page-home {
  ion-header {
    box-shadow: 0 3px 3px #999;

    ion-icon {
      color: white;
    }

    .pageToolbar, .toolbar-background {
      height: auto;
      min-height: auto;
      background-color: #fffbfb69;

      .filter {
        width: 100%;
        z-index: 2;

        .filtercontent {

          ion-item {
            background-color: transparent;
            color: #1E3847;
            height: auto;
            width: auto;
            float: right;
            min-height: auto;

            .select {
              padding: 0 5px 0 0;
              .select-placeholder {
                min-width: auto;
              }
              .select-text {
                min-width: auto;
              }
              .select-icon-inner {
                color: #1E3847;
              }
              .item-inner, .button-inner, .input-wrapper, button {
                height: auto;
              }
            }
            ion-label {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  .title {
    padding: 0;
  }

  .content {
    background-color: transparent;
  }

  .items {
    margin: 10px !important;
  }

  .item-inner {
    border: 0 !important;
    .select-text {
      width: 0;
      visibility: hidden;
    }
  }

  ion-refresher-content {
    background-color: transparent;
  }

  ion-item {
    padding: 0 !important;
  }

}
