page-home {
  ion-header {
    box-shadow: 0 3px 3px #999;
  }

  .title {
    padding: 0;
  }

  .scroll-content {
    background-image: url("../../assets/imgs/background.jpg");
  }

  .items {
    margin: 10px !important;
  }

  .item-inner{
    border: 0 !important;
  }

  ion-item {
    padding: 0 !important;
  }

  .filter{
    width: 100%;
    z-index: 2;

    .filtercontent {

      ion-item{
        background-color: transparent;
        color: goldenrod;
        width: auto;
        float: right;

        .select{
          padding: 0 5px 0 0;
          .select-icon-inner{
            color: goldenrod;
          }

        }
        ion-label{
          margin: 0 !important;
        }
      }
    }
  }



}
