page-trade-their-items {
  ion-header {
    box-shadow: 0 1px 5px #999;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .tradeSummary {
    .item-inner {
      border-bottom: 0 !important;
    }
    p {
      text-align: center !important;
      white-space: normal !important;
    }
  }
}
