page-trade-their-items {
  ion-header {
    box-shadow: 0 1px 5px #999;

    .back-button, .toolbar-title{
      color: white;
    }

    .toolbar-background{
      background-color: darkorange;
    }
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .tradeSummary {
    .item-inner {
      border-bottom: 0 !important;
    }
    p {
      text-align: center !important;
      white-space: normal !important;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    .csgoItem {
      margin: 1%;
      flex-basis: 23%;
      flex-grow: 0;
      border: 1px solid gray;
      background-color: white;
    }
  }

  .selectedItem {
    background-color: darkorange !important;
    border: 1px solid black !important;
    .itemDescription {
      color: black;
      span {
        color: black;
      }
    }
    .itemType{
      color: black;
    }
  }

  .continueButton{
    background-color: darkorange;
  }
}
