page-trade-their-items {

  .allItems {
    padding-top: 15px !important;
  }

  ion-header {

    ion-navbar {
      padding-bottom: 0 !important;
    }

    ion-title {
      padding: 0 !important;
      .toolbar-title {
        font-size: 1.2em;
        white-space: normal;
        overflow: visible;
      }
    }
  }

  .tradeSummary {
    .item-inner {
      border-bottom: 0 !important;
    }
    p {
      text-align: center !important;
      white-space: normal !important;
    }
  }
}
