<ion-header>
  <ion-navbar>
    <ion-title>Trade with {{redditPost.author}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="tradeSummary">
    <p>Wants <b>{{redditPost.wants}}</b> for their <b>{{redditPost.has}}</b>
    <p>
  </ion-item>
  <div padding>
    <h2>Select Their Items</h2>
    <div class="container">
      <div class="csgoItem" *ngFor="let item of csgoItems" [ngClass]="isSelected(item) ? 'selectedItem' : ''" [ngStyle]="setBorderColorIfNotNormalCategory(item)">
        <skin-list-item [csgoItem]="item" (selected)="addItemToTrade($event)"></skin-list-item>
      </div>
    </div>
  </div>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="continueButton" ion-button full (click)="continueToTradeReview()">Continue</button>
  </ion-toolbar>
</ion-footer>
