// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//GENERAL

ion-spinner {
  display: block;
  margin: auto;
}

ion-content, .scroll-content {
  background-color: white !important;
}

button.item.item-block {
  background-color: transparent;
}

ion-header {
  background-color: #FF7200;
  ion-icon {
    color: white;
  }
}

.activated {
  background-color: transparent !important;
}

.toolbar {
  min-height: 0;
}

.openPageButton {
  .activated {
    background-color: transparent !important;
  }
}

.searchbar {
  padding-top: 0;
  .searchbar-input {
    box-shadow: none !important;
  }
}

.toolbar-background {
  background-color: #FF7200 !important;
}

.back-button, .toolbar-title {
  color: white;
}

.scroll-content {
  background-color: white !important;
}

//FILTER
.pageToolbar {
  height: auto;
  min-height: auto;
  border: 0 !important;

  .filter {
    width: 100%;
    z-index: 2;

    .filtercontent {
      ion-item {
        background-color: transparent;
        color: white;
        height: auto;
        width: auto;
        float: right;
        min-height: auto;

        .item-inner {
          border-bottom: 0;
        }

        .select {
          padding: 0 5px 0 0;
          .select-placeholder {
            min-width: auto;
          }
          .select-text {
            min-width: auto;
            width: 0;
            visibility: hidden;
          }
          .select-icon-inner {
            color: white;
          }
          .item-inner, .button-inner, .input-wrapper, button {
            height: auto;
          }
        }
        ion-label {
          margin: 0 !important;
        }
      }
    }
  }
}

.filtercontent {
  .label {
    color: white;
  }
}

//ALERTS
ion-alert {
  .alert-head, .button-inner {
    color: #FF7200;
  }
  .alert-sub-title {
    color: black;
  }
}

//TRADING
.selectedItem {
  background-color: #FF7200 !important;
  border: 1px solid black !important;
  .itemDescription {
    color: black;
    span {
      color: black;
    }
  }
  .itemType {
    color: black;
  }
  .item-inner {
    background-color: #FF7200 !important;
  }
}

.continueButton {
  box-shadow: none !important;
  background-color: #FF7200 !important;
}

.container {
  display: flex;
  flex-wrap: wrap;

  .csgoItem {
    margin: 1%;
    flex-basis: 23%;
    flex-grow: 0;
    border: 1px solid gray;
    background-color: lightgray;
  }
}

//REDDIT POSTS GENERAL
ion-item-options {
  border: 0 !important;
  .button {
    background-color: #FF7200 !important;
  }
}

//COMMENTS AND TIME SINCE CREATION ON POSTS
.postItem {
  .arrowUp {
    font-size: 1.2em !important;
  }

  .titleContent {
    p {
      font-size: 0.85em;
      color: black !important;
    }
  }

  .tradeMetaInfo {
    .author, .timeSinceCreation, .numberOfComments, .score {
      display: inline-block;
    }
    .author {
      p {
        color: #1E3847;
      }
    }
    p {
      font-size: 0.6em;
    }
    ion-icon {
      font-size: 1.1em;
      margin: 1px;
    }
  }
}

//MODAL
.csgoItemModal .modal-wrapper {
  position: absolute;
  overflow: hidden;
  max-width: 93vw;
  border-radius: 5px;
  width: 70vw;
  height: 50vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, .4);

  .scroll-content {
    background-color: white !important;
    padding: 0 !important;
  }

  button {
    color: white;
  }
}

ion-backdrop {
  visibility: visible !important;
  background: black !important;
  opacity: 0.5 !important;
}

//REDDIT POST OUTLINE
.store {
  border-left: 5px solid black;
}

.pricecheck {
  border-left: 5px solid darkred;
}

.discussion {
  border-left: 5px solid darkblue;
}

.question {
  border-left: 5px solid deepskyblue;
}

.lph {
  border-left: 5px solid darkgreen;
}

.psa {
  border-left: 5px solid purple;
}

.free {
  border-left: 5px solid green;
}

.important {
  border-left: 5px solid red;
}

.unkown {
  border-left: 5px solid yellow;
}

//MENU
.activeUserCount {
  text-align: center;
  color: green;
  .circle {
    display: inline-block;
    background: green;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 0 4px 2px 0;
  }
  span {
    color: green;
  }
  p {
    color: black;
  }
}

.menu-inner {
  .scroll-content {
    background-color: white !important;
  }
}


