// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//GENERAL
ion-content {
  background-color: white !important;
}

button.item.item-block {
  background-color: transparent;
}

ion-header {
  background-color: #ff5400;
}

.toolbar-background {
  background-color: #ff5400 !important;
}

.back-button, .toolbar-title {
  color: white;
}

.scroll-content {
  background-color: lightgray;
}

//TRADING
.selectedItem {
  background-color: #ff5400 !important;
  border: 1px solid black !important;
  .itemDescription {
    color: black;
    span {
      color: black;
    }
  }
  .itemType {
    color: black;
  }
}

.continueButton {
  background-color: #ff5400;
}

.container {
  display: flex;
  flex-wrap: wrap;

  .csgoItem {
    margin: 1%;
    flex-basis: 23%;
    flex-grow: 0;
    border: 1px solid gray;
    background-color: white;
  }
}

//REDDIT POSTS GENERAL
ion-item-options {
  border: 0 !important;
  .button {
    background-color: #ff5400 !important;
  }
}

//COMMENTS AND TIME SINCE CREATION ON POSTS
.timeSinceCreation {
  position: absolute;
  right: 5px;
  bottom: 5px;
  p {
    font-size: 0.6em;
  }
}
.numberOfComments {
  position: absolute;
  right: 5px;
  bottom: 15px;
  p {
    font-size: 0.6em;
  }
  ion-icon {
    font-weight: bold;
    font-size: 1.3em;
    margin: 3px;
  }
}

//REDDIT POST OUTLINE
.store {
  border-left: 5px solid black;
}
.pricecheck {
  border-left: 5px solid darkred;
}
.discussion {
  border-left: 5px solid darkblue;
}
.question {
  border-left: 5px solid sandybrown;
}
.lph {
  border-left: 5px solid darkgreen;
}
.psa {
  border-left: 5px solid purple;
}
.free {
  border-left: 5px solid green;
}
.important {
  border-left: 5px solid red;
}
.unkown {
  border-left: 5px solid yellow;
}

//MENU
.activeUserCount {
  text-align: center;
  color: green;
  .circle {
    display: inline-block;
    background: green;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 0 4px 2px 0;
  }
  span{
    color: green;
  }
  p {
    color: black;
  }
}
.menu-inner {
  .scroll-content {
    background-color: white !important;
  }
}


