// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
  background-color: white !important;
}

button.item.item-block {
  background-color: transparent;
}

ion-header {
  background-color: #ff5400;
}

.toolbar-background {
  background-color: #ff5400 !important;
}

.back-button, .toolbar-title {
  color: white;
}

.selectedItem {
  background-color: #ff5400 !important;
  border: 1px solid black !important;
  .itemDescription {
    color: black;
    span {
      color: black;
    }
  }
  .itemType {
    color: black;
  }
}

.continueButton {
  background-color: #ff5400;
}

.container {
  display: flex;
  flex-wrap: wrap;

  .csgoItem {
    margin: 1%;
    flex-basis: 23%;
    flex-grow: 0;
    border: 1px solid gray;
    background-color: white;
  }
}

.menu-inner {
  .scroll-content {
    background-color: white !important;
  }
}

.scroll-content {
  background-color: lightgray;
}

ion-item-options {
  border: 0 !important;
  .button {
    background-color: #ff5400 !important;
  }
}
