<ion-header>
  <ion-navbar>
    <ion-title>Trade with {{redditPost.author}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="pageToolbar">
    <div class="filter">
      <div class="filtercontent">
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="selectedCategories" (ionChange)="applyFilter()" multiple="true">
            <ion-option>Normal</ion-option>
            <ion-option>StatTrak</ion-option>
            <ion-option>Souvenir</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Exterior</ion-label>
          <ion-select [(ngModel)]="selectedExteriors" (ionChange)="applyFilter()" multiple="true">
            <ion-option>Factory New</ion-option>
            <ion-option>Minimal Wear</ion-option>
            <ion-option>Field-Tested</ion-option>
            <ion-option>Well-Worn</ion-option>
            <ion-option>Battle-Scarred</ion-option>
            <ion-option>Vanilla</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Grade</ion-label>
          <ion-select [(ngModel)]="selectedGrades" (ionChange)="applyFilter()" multiple="true">
            <ion-option>Mil-Spec Grade</ion-option>
            <ion-option>Restricted Grade</ion-option>
            <ion-option>Classified</ion-option>
            <ion-option>Covert</ion-option>
            <ion-option>Contraband</ion-option>
            <ion-option>Consumer Grade</ion-option>
            <ion-option>Industrial Grade</ion-option>
            <ion-option>Base Grade</ion-option>
            <ion-option>High Grade</ion-option>
            <ion-option>Extraordinary</ion-option>
            <ion-option>Exotic</ion-option>
            <ion-option>Remarkable</ion-option>
            <ion-option>Other</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select [(ngModel)]="selectedSkinTypes" (ionChange)="applyFilter()" multiple="true">
            <ion-option>Key</ion-option>
            <ion-option>Knife</ion-option>
            <ion-option>Gloves</ion-option>
            <ion-option>Rifle</ion-option>
            <ion-option>Sniper Rifle</ion-option>
            <ion-option>Pistol</ion-option>
            <ion-option>SMG</ion-option>
            <ion-option>Shotgun</ion-option>
            <ion-option>Machinegun</ion-option>
            <ion-option>Container</ion-option>
            <ion-option>Sticker</ion-option>
            <ion-option>Graffiti</ion-option>
            <ion-option>Music Kit</ion-option>
            <ion-option>Collectible</ion-option>
            <ion-option>Pass</ion-option>
            <ion-option>Gift</ion-option>
            <ion-option>Tool</ion-option>
            <ion-option>Tag</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="tradeSummary">
    <p>Wants <b>{{redditPost.wants}}</b> for their <b>{{redditPost.has}}</b>
    <p>
  </ion-item>
  <div padding>
    <h2>Select Your Items</h2>
    <div class="container">
      <div class="csgoItem" *ngFor="let keys of tradeAbleKeys" [ngClass]="isKeySelected(keys) ? 'selectedItem' : ''">
        <key-list-item [csgoKeys]="keys" [alreadySelectedKeys]="getSelectedKeysOfCertainType(keys.keys[0])"
                       (selected)="addKeysToTrade($event)"></key-list-item>
      </div>
      <div class="csgoItem" *ngFor="let item of tradeableItems" [ngClass]="isSelected(item) ? 'selectedItem' : ''"
           [ngStyle]="setBorderColorIfNotNormalCategory(item)">
        <skin-list-item [csgoItem]="item" (selected)="addItemToTrade($event)"></skin-list-item>
      </div>
    </div>
  </div>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="continueButton" ion-button full (click)="continueToTradeReview()">Continue</button>
  </ion-toolbar>
</ion-footer>
