trade-list-item {

  ion-item-sliding {
    box-shadow: 0 2px 3px #999;
    border-left: 5px solid darkorange;
  }

  ion-item .item-inner {
    border-bottom: 0 !important;
    position: relative;

    .timeSinceCreation {
      position: absolute;
      right: 5px;
      bottom: 5px;
      p {
        font-size: 0.6em;
      }
    }
  }

  ion-label {
    margin: 0 0 0 10px !important;
    white-space: normal;
    max-width: 80%;

    .has {
      font-size: 1em;
      padding: 3px 0 5px 0;
      color: #1E3847;
    }
    .wants {
      padding: 0px 0 5px 0;
      color: dimgray;
    }
  }
}
