<ion-item-sliding>
  <ion-item>
    <p class="has">
      {{tradePost.has}}
    </p>
    <p class="wants">
      B/O: {{tradePost.wants}}
    </p>
    <div class="additionalTradeInfo">
      <ion-icon name="swap"></ion-icon>
    </div>
  </ion-item>
  <ion-item-options>
    <button ion-button (click)="openTrade()">Recent Trades</button>
    <button ion-button (click)="openTrade()">Screen</button>
    <button ion-button (click)="openTrade()">Offer</button>
  </ion-item-options>
</ion-item-sliding>

