trade-list-item {

  ion-item-sliding {
    border: 1px solid gray;
    border-left: 5px solid darkorange;
  }

  ion-item .item-inner {
    border-bottom: 0 !important;
    position: relative;
    .additionalTradeInfo {
      position: absolute;
      top: 35%;
      right: 20px;
      color: grey;
    }
  }

  ion-label {
    margin: 0 0 0 10px !important;
    white-space: normal;
    max-width: 290px;

    .has {
      font-size: 1em;
      padding: 3px 0 5px 0;
      color: #1E3847;
    }
    .wants {
      padding: 0px 0 5px 0;
      color: dimgray;
    }
  }
}
