<ion-item-sliding>
  <ion-item>
    <button ion-item class="openPageButton" (click)="openPost()">
    </button>
    <p class="has">
      {{tradePost.has}}
    </p>
    <p class="wants">
      B/O: {{tradePost.wants}}
    </p>
    <div class="timeSinceCreation">
      <p>{{tradePost.timeSinceCreation}} ago</p>
    </div>
  </ion-item>
  <ion-item-options>
    <button ion-button (click)="openTrade()">Recent Trades</button>
    <button ion-button (click)="openTrade()">Screen</button>
    <button ion-button (click)="sendTradeOffer()">Offer</button>
  </ion-item-options>
</ion-item-sliding>

