trade-list-item {

  ion-item-sliding {
    box-shadow: 0 2px 3px #999;
    border-left: 5px solid darkorange;
  }

  ion-item .item-inner {
    border-bottom: 0 !important;
    position: relative;

    .openPageButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }

  ion-label {
    margin: 0 0 0 10px !important;
    white-space: normal;
    max-width: 80%;

    .has {
      font-size: 1em;
      padding: 4px 0 5px 0;
      color: #1E3847;
    }
    .wants {
      padding: 0px 0 6px 0;
      color: dimgray;
    }
  }
}
