page-inventory {
  ion-header {
    ion-navbar {
      padding-bottom: 0 !important;
    }
    ion-title {
      padding: 0 !important;
    }
  }

  .steamLinkInput {
    margin-top: 16px;
    position: relative;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    .item-inner {
      border: 0 !important;
    }
    .text-input {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      color: gray;
    }
  }

  .refreshButton {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: 0 !important;
    z-index: 10;
    background-color: transparent;
    color: #1E3847;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }
}
