page-inventory {
  ion-header {
    box-shadow: 0 3px 3px #999;

    ion-icon {
      color: white;
    }

    ion-title {
      padding: 0 !important;
    }

    .pageToolbar, .toolbar-background {
      height: auto;
      min-height: auto;
      background-color: #ff5400;
      border: 0 !important;

      .filter {
        width: 100%;
        z-index: 2;

        .filtercontent {

          ion-item {
            background-color: transparent;
            color: white;
            height: auto;
            width: auto;
            float: right;
            min-height: auto;

            .item-inner {
              border-bottom: 0;
            }

            .select {
              padding: 0 5px 0 0;
              .select-placeholder {
                min-width: auto;
              }
              .select-text {
                min-width: auto;
                width: 0;
                visibility: hidden;
              }
              .select-icon-inner {
                color: white;
              }
              .item-inner, .button-inner, .input-wrapper, button {
                height: auto;
              }
            }
            ion-label {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  .steamLinkInput {
    margin-top: 16px;
    position: relative;
    .item-inner {
      border: 0 !important;
    }
    .text-input {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      color: gray;
    }
  }

  .refreshButton {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: 0 !important;
    z-index: 10;
    background-color: transparent;
    color: #1E3847;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }
}
